body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #f5f7ff;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #FF7254;
}

/* header{
    margin: -10px -10px;
    height: 80px;
    background-color: #1ba0d6;
} */

nav {
    /* border: 1px solid #137aa3; */
    margin: 0px -10px;
    height: 40px;
    /*background-color: #1ba0d6;*/
}

.close-modal, .close-toggle{
    position:relative;
    right: -45%;
    color: #1ba0d6;
    font-size: 16px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus,
.close-toggle:hover,
.close-toggle:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    height: 40px;
    width: auto;
    padding: 0px;
    margin-right: 5px;
}

.nav-logo {
    float: left;
    height:40px;
    width:auto;
    margin-left: 10%;
}

#user {
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 3px;    
}

nav .nav-left li{
    float: left;   
}

nav .nav-left li a:hover {
    background: #4eb3db;
    color: #212121;
}

nav .nav-left li a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    text-decoration: none;
    color: #212121;
    /* text-shadow: 0 1px 0 #444; */
}

nav .nav-right {
    margin-right: 10%;
}

nav .nav-right li {
    float: right;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.5); /* white w/ opacity */
    padding-top: 200px;
}

nav #new-user-content {
    width: 250px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #f5f7ff;
    padding: 10px;
    box-shadow: 0 2px 2px -1px black;
    border-radius: 5px;
    border: 1px solid #a8d7ea;
}

nav #login-dropdown,
nav #signup a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    text-decoration: none;
    color: #212121;
    /* text-shadow: 0 1px 0 #444; */
}


nav #login-dropdown:hover,
nav #login .active,
nav #signup a:hover {
    background: #4eb3db;
    color: #212121;
    cursor: pointer;
}

nav #login-content {
    width: 250px;  
    text-align: center;
    display: none;
    position: absolute;
    top: 40px;   
    right: 6%;
    background: #f5f7ff;
    padding: 10px;
    box-shadow: 0 2px 2px -1px black;
    border-radius: 5px;
    border: 1px solid #a8d7ea;
}

nav #login-content #error-message {
    color: #ff2f2f;
}

nav input {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    border-radius: 5px; 
    padding: 5px 10px;
    border: 1px solid #1ba0d6;
    background: #f8f8f8;
}

nav input:focus {
    background-color: #ffffff;
    border-color: #FFCE54;
    outline: none;
}


input[type=submit]{
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-top:20px;
    margin-bottom:20px;
    padding:5px 15px; 
    background:#1ba0d6; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}

input[type=submit]:hover{
    background: #4eb3db; 
    color: white;
    border: 0;
}

.main-separator {
    /*margin-top: 30px;*/
    margin-bottom: 30px;
    margin-left: 7%;
    margin-right: 7%;
}

.main-separator hr {
    border-top: 1px solid #ccc;
}

.main-content {
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    bottom : 0;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
}

footer a:hover {
    color: #1ba0d6;
    text-decoration: none;
}

footer a{
    color: #000000;
    margin-right: 20px;
    text-decoration: none;
}

footer .footer-left{
    float: left;
    margin-left: 10%;
}

footer .footer-right {
    float: right;
    margin-right: 10%;
}
